<div id="<%= dom_id customer %>">
  <div>
    <strong>Nome:</strong>
    <%= customer.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= customer.email %>
  </div>

  <div>
    <strong>Nascimento:</strong>
    <%= customer.birthday %>
  </div>

  <div>
    <strong>Obs:</strong>
    <%= customer.obs %>
  </div>

</div>
