<p style="color: green"><%= notice %></p>

<% content_for :title, "Customers" %>

<h1>Clientes</h1>
<%# teste dos símbolos do erb %>
<% a = "Ruby" %>
<% b = "Rails" %>

<%= "Lista feita com #{a} on #{b}" %>

<br><br>
<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p>
      <%= link_to "Show this customer", customer %>
    </p>
  <% end %>
</div>

<%= link_to "New customer", new_customer_path %>
