<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div>
  <%= link_to "Editar esse usuário", edit_customer_path(@customer) %> |
  <%= link_to "Voltar para os usuários", customers_path %>

  <%= button_to "Deletar esse usuário", @customer, method: :delete %>
</div>
